html {
  background-color: #fafafa;
}

header svg {
  width: 50px;
  height: 50px;
  margin-left: auto;
}

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: #fafafa;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

body {
  color: #101010;
  background-color: #fafafa;
}

.carousel {
  margin-top: -25px !important;
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 42rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.carousel img {
  min-width: 1000px;
  height: 900px !important;
  width: 100%;
  filter: brightness(65%);
}

.col-lg-4, .col-lg-3{
  margin-bottom: 40px;
}

#planos, .titulos, #vantagens, #perguntasFrequentes, #chamadaPlanos {
  margin-bottom: 4rem;
}

#perguntasFrequentes .titulos, #chamadaPlanos{
  margin-top: 4rem;
}

.container svg {
  margin-bottom: 2rem;
  width: 100px;
  height: 100px;
}

header .btn {
  font-weight: 500;
}

.cartao {
  padding: 25px;
  border: #00c2cb solid 4px;
  width: 300px;
  margin: 4rem auto 0 auto;
  box-shadow: 10px 10px 0px #00c2cb;
  border-radius: 30px;
}

footer {
  padding-top: 4rem;
  width: 100%;
  background-color: #212529;
  color: #fafafa;
}

footer a {
  text-decoration: none;
  text-transform: none;
  color: #fafafa;
}

footer a:hover {
  color: #fafafa;
}

footer p, footer span, footer a{
  margin-top: 2rem;
}

footer .copyright {
  padding-bottom: 30px;
  margin-bottom: 0;
}

.whatsapp {
  position:fixed;
  bottom:30px;
  right:40px;
}

.icons {
  border: 1px solid silver; 
  border-radius: 0.25em; 
  padding: 0.5em;
}

.cartao p {
  margin: -10px 0 0 0 !important;
  padding: 10px;
}

.col-lg-6 i, .col-lg-6 p{
  margin: 4rem 0 4rem 0;
}

.price {
  font-size: 5rem;
  font-weight: 700;
}

div.scrollmenu p {
  margin-top: 10px;
  font-size: 20px;
}

div.scrollmenu {
  padding: 0 10px 4rem 10px;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  display: inline-block;
  color: #101010;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu svg {
  width: 100px;
  height: 100px;
}

#inverter {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}